doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand navbar-brand-hidden", href="#") Nikora's Photography
        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="#") Portfolio
            li
              a(href="#") About
            li
              a(class="navbar-brand", href="#") Nikora's Photography
            li
              a(href="#") Blog
            li
              a(href="#") Get in Touch
    .menu-underline-container
      .menu-underline
      .menu-underline-seperator
      .menu-underline
              
    ul#hexGrid
      li.hex
        .hexIn
          img(src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpl1/v/t1.0-0/p206x206/12961688_10154959673458306_8410875459430621496_n.jpg?oh=120376a59be2548b81e85f9356f7001e&oe=57BB3E0E&__gda__=1471440433_a52d5e9eb8e9d8e66ff2b472c336bde8")
          h1 A Awesome Photo
      li.hex
        .hexIn
          img(src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpl1/v/t1.0-0/p206x206/12961688_10154959673458306_8410875459430621496_n.jpg?oh=120376a59be2548b81e85f9356f7001e&oe=57BB3E0E&__gda__=1471440433_a52d5e9eb8e9d8e66ff2b472c336bde8")
          h1 A Awesome Photo
      li.hex
        .hexIn
          img(src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpl1/v/t1.0-0/p206x206/12961688_10154959673458306_8410875459430621496_n.jpg?oh=120376a59be2548b81e85f9356f7001e&oe=57BB3E0E&__gda__=1471440433_a52d5e9eb8e9d8e66ff2b472c336bde8")
          h1 A Awesome Photo
      li.hex
        .hexIn
          img(src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpl1/v/t1.0-0/p206x206/12961688_10154959673458306_8410875459430621496_n.jpg?oh=120376a59be2548b81e85f9356f7001e&oe=57BB3E0E&__gda__=1471440433_a52d5e9eb8e9d8e66ff2b472c336bde8")
          h1 A Awesome Photo
        
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/functions.js')
    
